.container {
	width: 70%;
	margin: auto;
	text-align: center;
}

.dice {
	text-align: center;
	display: inline-block;
}

body {
	background-color: #393e46;
}

h1 {
	margin: 30px;
	font-family: "Lobster", cursive;
	text-shadow: 5px 0 #232931;
	font-size: 8rem;
	color: #4ecca3;
}

p {
	font-size: 2rem;
	color: #4ecca3;
	font-family: "Indie Flower", cursive;
}

img {
	width: 80%;
}

footer {
	margin-top: 2%;
	color: #eeeeee;
	text-align: center;
	font-family: "Indie Flower", cursive;
}

.btn {
	background: #804040;
	background-image: -webkit-linear-gradient(top, #804040, #b82b2d);
	background-image: -moz-linear-gradient(top, #804040, #b82b2d);
	background-image: -ms-linear-gradient(top, #804040, #b82b2d);
	background-image: -o-linear-gradient(top, #804040, #b82b2d);
	background-image: linear-gradient(to bottom, #804040, #b82b2d);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 20px;
	font-family: Arial;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	margin-top: 20px;
}

.btn:hover {
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
}
